/* CSS Document */
html{
	height: 100%;
}

body {
	margin-left: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 0px;
	
	font-family:  Tahoma, Geneva, sans-serif, Geneva, sans-serif;
	font-size: 11px;
	min-height: 100%;
	position: relative;
	
}

#celda_menu{
	background: url(../imagenes/header_bk.png) repeat-x bottom;
}

h1 {
	font-size: 14px;
	color:#036;
}

h2 {
	font-size: 14px;
	color:#FFF;
}

a {
	text-decoration:none;
	color:#036;
	font-size: 9px;
	font-weight: bold;
}

.sin_registros
{
	color: gray;
	font-style: italic;
}

.encabezado {
	background-color:#2B5079;
	color:#FFF;
	padding: 8px;
}

.navegacion{
	background-color:#F3F3F3;
	color:#666;
	padding: 6px;
	border-bottom-style: solid;
	border-bottom-color:#CCC;
	border-bottom-width: 1px;
}

.menu td{
	padding: 5px 5px 5px 10px;
	background-color:#F3F3F3;
}

.menu a{
	text-decoration: none;
	font-weight:normal;
	font-size: 11px;
	color:#000;
}


.texto_pequeno {
	font-family:  Tahoma, Geneva, sans-serif, Geneva, sans-serif;
	font-size: 9px;
}

.div_formulario {
	border: 1px;
	border-style: solid;
	border-color:#CCC;
	background-color:#F3F3F3;
	padding: 10px;
}

.div_formulario td{
	padding: 2px;
}

.campo{
	font-family:  Tahoma, Geneva, sans-serif, Geneva, sans-serif;
	font-size: 11px;
	padding: 1px;
}

.boton{
	padding: 3px;
	font-family:  Tahoma, Geneva, sans-serif, Geneva, sans-serif;
	font-size: 11px;
}

.lista {
	border-left: solid 1px #CCC;	
}

.lista th{
	background-color: #2B5079;
	color:#FFF;
	padding: 3px;
	font-weight:normal;	
}

.lista td{
	padding: 3px;
	border: solid 1px #CCC;
	border-top: none;
	border-left: none;
	border-collapse: collapse;
	font-size: 10px;
}

.lista_resaltada {
	background-color:#D7E9FF;
}

.lista_totales{
	background-color:#FFFF9B;
}

.lista_faltantes{
	background-color:#DEF5D8;
}

.lista_totales td{
	padding: 3px;
	border-right: 1px solid #FFFF9B;
}

.primera_linea {
	background-color:#F3F3F3;
}

div.exito{
	background-image: url('../iconos/apply.png');
	background-repeat:no-repeat;
	background-position: 5px 5px;
	background-color:#DEF5D8;
	color:#24A811;
	border: solid 1px #24A811;
	padding: 10px 5px 6px 27px;
	margin-bottom: 5px;
	padding-top: 8px;
}

div.exito a{
	color:#24A811;
	font-size:10px;
	font-weight: bold;
	padding-top: 8px;
}

div.error{
	background-image: url('../iconos/delete.png');
	background-repeat:no-repeat;
	background-position: 5px 5px;
	background-color:#FEEEED;
	color:#EF3632;
	border: solid 1px #EF3632;
	padding: 8px 5px 8px 25px;
	margin-bottom: 5px;
}

div.error a{
	color:#EF3632;
	font-size:10px;
	font-weight: bold;
}

div.mensaje p{
	line-height: 8px;
	margin-top: 3px;
	margin-bottom: 8px;
}
.campo_requerido{
	color: #E0110C;
	font-weight: bold;
	font-size: 10px;
	padding: 5px 0px 5px 0px;
	padding-top: 8px
}

.campo_valido{
	color: #17A714;
	font-weight: bold;
	font-size: 10px;
	padding: 0px 0px 15px 0px;
}

span.campo_requerido {
	color:#ff0000;
}

.tabla_encabezado
{
	border-style: solid;
	border-color:#CCC;
	background-color:#F3F3F3;
	padding: 8px;
}
.titulo{
	font-weight: bold;
	font-size: 12px;	
}

#titulos{
	padding: 10px 0px 3px 3px;
	font-weight: bold;
	font-size: 14px;	
}

.subtitulo{
	padding: 10px 0px 1px 1px;
	font-weight: bold;
	font-size: 11px;	
}

.pie_pagina{
	background-color:#2B5079;
	padding: 8px;
	
}
.content{
	padding-bottom: 100px;	
}

.foot{
	position: absolute;
	bottom: 0;
	color:#FFF;
	width: 100%;
	
}

.lista input[type="text"]{
	border: 1px solid #ccc;
	width: 100px;
	padding-left: 5px;
}

.lista_totales input[type="text"]{
	border: 1px solid #FFFF9B;
	width: 100px;
	padding-left: 5px;
} 

.errorNumero{
	border: 1px solid #F00!important;
	color: #F00;
}