.mensaje{
	position: relative;
	top: 40px;
	width: 437px;
	padding: 5px;
	padding-top: 8px;
}

div.error{
	background-image: url('../iconos/delete.png');
	background-repeat:no-repeat;
	background-position: 5px 5px;
	background-color:#FEEEED;
	color:#EF3632;
	border: solid 1px #EF3632;
	padding: 6px 5px 6px 25px;
	margin-bottom: 5px;
}

div.error_lista{
	background-image: url('../iconos/delete.png');
	background-repeat:no-repeat;
	background-position: 5px 5px;
	background-color:#FEEEED;
	color:#EF3632;
	border: solid 1px #EF3632;
	padding: 6px 5px 2px 25px;
	margin-bottom: 5px;
}

.hide:hover{
	cursor: pointer;
}